.titlInf {
  text-align: center;
  font-weight: 370;
  font-size: 23px;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  line-height: 1.4;
  word-wrap: break-word;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.divInf {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.conteinerButtonInf{
  margin-top: 80px;
  margin-bottom: 50px;
}

@media (max-width: 1580px) {
  .titlInf {
    margin: 20px;
    font-size: 16px;
    margin-bottom: 30px !important;
  }
}

@media (max-width: 530px) {
  .titlInf {
    margin: 20px;
    font-size: 14px;
    margin-bottom: 30px !important;
  }
}