.contenedorInicio {
  display: flex;
  justify-content: center;   
  align-items: flex-start;
  gap: 40px;
  margin-top: 130px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.columnaIzquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgInicio {
  width: 600px;
  height: 700px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 15px;
}

.textoInicio {
  font-size: 19px;
  line-height: 1.3;
  max-width: 800px;
  margin-left: 50px;
  margin-top: 200px !important;
}

.contenedorBoton {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-top: 100px;
}

.linkInicio {
  background-color: #e4c56edd !important;
  border-color: #e4c56edd !important;
  font-size: 15px !important;
  color: black !important;
  padding: 15px;
  border-radius: 2px !important;
  text-align: center;
  transition: transform 0.2s;
}

.linkInicio:hover {
  transform: scale(1.05);
}


@media (max-width: 1500px) {
  .contenedorInicio {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imgInicio {
    width: 60%;
    height: auto;
  }

  .textoInicio {
    max-width: 90%;
    margin-top: 20px !important;
    font-size: 18px;
    margin: 15px;
  }
}


@media (max-width: 480px) {
  .imgInicio {
    width: 90%;
  }

  .textoInicio {
    font-size: 14px;
    max-width: 95%;
    margin: 15px;
  }
}

