.header-container {
  width: 100%;
  background-color: white;
  height: 400px;
}

.top-banner-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #C5A059;
}

.main-logo-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-fixed {
  height: 250px;
  width: auto;
  object-fit: cover
}

.menu-toggle {
  background: transparent;
  border: 1px solid #C5A059;
  color: #C5A059;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 4px;
  transition: 0.3s;
}

.menu-toggle:hover {
  background: #C5A059;
  color: #000;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  width: 300px;
  height: 100vh;
  background-color: #000;
  border-right: 2px solid #C5A059;
  transition: 0.4s ease-in-out;
  z-index: 2000;
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #C5A059;
  font-size: 25px;
  cursor: pointer;
}


.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li a {
  display: block;
  padding: 15px 30px;
  color: #C5A059;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(197, 160, 89, 0.1);
  transition: 0.3s;
}

.sidebar-nav ul li a:hover {
  background: #C5A059;
  color: #000;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1500;
}

.language-switcher {
  display: flex;
  gap: 8px;
}

.language-switcher button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}


@media (max-width: 900px) {

  /* HEADER */
  .header-container {
    height: auto;               /* deja crecer según contenido */
    padding: 20px 0;
  }

  .top-banner-bar {
    flex-direction: row;
    padding: 0 20px;
  }

  .main-logo-link {
    justify-content: center;
  }

  .banner-fixed {
    height: 160px;              /* reduce logo/banner */
    max-width: 100%;
    object-fit: contain;
  }

  /* BOTÓN MENÚ */
  .menu-toggle {
    font-size: 26px;
    padding: 6px 10px;
  }

  
  .sidebar {
    width: 260px;
    left: -280px;
  }

  .sidebar.open {
    left: 0;
  }
}


@media (max-width: 768px) {
  .top-banner-bar {
    height: 80px;
  }

  .banner-fixed {
    height: 60px;
  }
}