.divConcert {
  margin-bottom: 25px;
}

.textConcert {
  font-size: 23px;
  font-weight: lighter;
  color: black;
  text-align: center;
  line-height: 1.4;
  word-wrap: break-word;
  max-width: 1200px;
  margin: 20px auto 120px;
  padding: 0 20px;
}

.imgContConciertos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: 70px auto 90px;
  justify-items: center;
}

.imgConcert {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .textConcert {
    font-size: 20px;
    margin: 60px auto 90px;
  }

  .imgContConciertos {
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 40px auto 70px;
  }

  .imgConcert {
    height: 450px;
    width: 100%;
    margin: 15px !important;
  }
}

@media (max-width: 480px) {
  .textConcert {
    font-size: 18px;
    line-height: 1.35;
    margin: 40px auto 70px;
  }

  .imgContConciertos {
    grid-template-columns: 1fr;
    gap: 15px;
    
  }

  .imgConcert {
    width: 100%;
    height: 400px;
    margin: 15px !important;
  }
}