.divConcert{
    margin-top: 30px;
    margin-bottom: 25px;
}

.textConcert{
  text-align: center;     
  font-weight: lighter;
  font-size: 21px;
  margin: 40px  90px 40px 90px      
}

.imgContConciertos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgConcert{
   max-width: 100%;
   height: 350px;
   display: block;
   align-items: center;
   margin-top: 70px !important;
   margin: 20px auto;
}

@media (max-width: 1580px) {
  .imgConcert{
    height: 300px;
  }
  .imgContConciertos{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .imgConcert{
    height: 250px;
  }
    .imgContConciertos{
    display: flex;
    flex-direction: column;
  }
}